<!DOCTYPE html>
<html ng-app="myApp">
  <head>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
    <script src="https://cdn.firebase.com/js/client/2.2.1/firebase.js"></script>
    <script src="https://cdn.firebase.com/libs/angularfire/1.0.0/angularfire.min.js"></script>
  </head>
  <body ng-controller="MyController">
    <!-- CHAT MARKUP -->
    <div>
      <header></header>

      <div>
        <label for="nameInput">Username:</label>
        <input ng-model="name" type="text" id="nameInput" placeholder="Choose Username"><br />
        <label for="passwordInput">Password:</label>
        <input ng-model="password" ng-keydown="addUser($event)" type="password" id="password"  placeholder="Choose Password">
      </div>

      <ul id="example-messages">
        <li ng-repeat="user in users">
          <strong>{{ user.name }}</strong>
          {{ user.password }}
        </li>
      </ul>

      <footer>

      </footer>
    </div>


    <script>
      var myApp = angular.module("myApp", ["firebase"]);

      myApp.controller("MyController", ["$scope", "$firebaseArray",
        function($scope, $firebaseArray) {
          var ref = new Firebase("https://storycaster.firebaseio.com/users");
          $scope.users = $firebaseArray(ref);

          //ADD MESSAGE METHOD
          $scope.addUser = function(e) {

            //LISTEN FOR RETURN KEY
            if (e.keyCode === 13 && $scope.password) {
              //ALLOW CUSTOM OR ANONYMOUS USER NAMES
              if ($scope.name != ''){
                $scope.users.$add({ name: $scope.name, password: $scope.password });
                //RESET MESSAGE
                $scope.password = "";
              }
            }
          }
        }
      ]);
    </script>
  </body>
</html>
